<?php

return [
    'PROD_FLG'  => false,
    'commons'   => [
        'appName' => 'Hashed Potatoes',
        'website' => 'SampleWebsite',
    ],
    'target'    => 'https://www.example.com/hashbrowns.php',
    'mail'      => [
        'MAIL_HOST'     => 'smtp.mailtrap.io',
        'MAIL_USERNAME' => 'xxxxxxxxxxxxxx',
        'MAIL_PASSWORD' => 'xxxxxxxxxxxxxx',
        'MAIL_ENCRPT'   => 'tls',
        'SMTP_PORT'     => '2525',
        'FROM_MAIL'     => 'hashvault@example.com',
        'TO_MAIL'       => 'hashvault@example.com',
    ],
    'basicAuth' => [
        'auth'     => true,
        'user'     => 'Hashvault',
        'password' => 'Password-1234',
    ],
    'exclude'   => [
        'excludeFilesizeMax'   => 2147483647,
        'excludeFileExtension' => [
            'mp3',
            'wav',
            'wma',
            'mp4',
            'avi',
            'wmv',
            'doc',
            'docx',
            'docm',
            'dot',
            'dotx',
            'xls',
            'xlsx',
            'xlsm',
            'xls',
            'xla',
            'xlam',
            'xlm',
            'xlt',
            'xltm',
            'xltx',
            'ppt',
            'pptx',
            'potm',
            'potx',
            'ppam',
            'pps',
            'ppsm',
            'ppsx',
            'sldm',
            'sldx',
            'flv',
            'swf',
            'exe',
            'dll',
            'eps',
            'psd',
            'ai',
            'iso',
            'msi',
        ],
    ],
];
