<?php

return array(
    'excludeFilesizeMax'   => 2147483647,
    'excludeFileExtension' => array(
        'mp3',
        'wav',
        'wma',
        'mp4',
        'avi',
        'wmv',
        'doc',
        'docx',
        'docm',
        'dot',
        'dotx',
        'xls',
        'xlsx',
        'xlsm',
        'xls',
        'xla',
        'xlam',
        'xlm',
        'xlt',
        'xltm',
        'xltx',
        'ppt',
        'pptx',
        'potm',
        'potx',
        'ppam',
        'pps',
        'ppsm',
        'ppsx',
        'sldm',
        'sldx',
        'flv',
        'swf',
        'exe',
        'dll',
        'eps',
        'psd',
        'ai',
        'iso',
        'msi',
    ),
);
